{% extends "base.html" %}
{% block title %}{{pokemon.id | capfirst}}{%  endblock tittle %}
{% block content %}
<tittle>Pokedex</tittle>

        <p>You have chosen Pokemon: <strong>{{pokemon | capfirst }}</strong></p>
        <p>details</p>
        <ul>
            <li>name: {{pokemon.name}}</li>
            <li>weight: {{pokemon.weight}}</li>
            <li>type: {{pokemon.type}}</li>
            <li>height: {{pokemon.height }}</li>
            <li>trainer: {{pokemon.trainer}}</li>

        </ul>
        {% endfor %}
    </div>

{% endblock content%}
      