{% extends "base.html" %}
{% block title %}Initial page{% endblock title %}
{% block content %}

<h3>Pokemons</h3>
<ul class="list-group">
    {% for pokemon in pokemons %}
    <li class="list-group-item">
        <a href="{{pokemon}}">{{ pokemon | capfirst }}</a>
        <li color:blue {{pokemon.name}}></li>
        <li color:blue {{pokemon.type}}></li>
        <li color:blue {{pokemon.weight}}></li>
        <li color:blue {{pokemon.height}}></li>
        <li color:blue {{pokemon.trainer}}></li>

    </li>
    {% endfor %}
</ul>
<h3>Trainers</h3>
<ul class="List-group">
    {% for trainer in trainers %}
    <li class="list-group-item">
    <a href="trainer/{{trainer.id}}">{{ trainer | capfirst }}</a>
    
        <li color:blue {{trainer.name}}></li>
        <li color:blue {{trainer.surname}}></li>
        <li color:blue {{trainer.level}}></li>
        <li color:blue {{trainer.Birthdate}}></li>
    </li>
    {% endfor %}
</ul>
{% endblock content%}
           