{% extends "base.html" %}
{% load static %}
{% block title %}Initial page{% endblock title %}
{% block content %}
    <h3>Pokemons</h3>
    
    <a href="{% url "pokedex:add_pokemon"%}" class= "btn btn-primary">Add pokemon<a>
    <div class="row"> 
        {% for pokemon in pokemons %}
        
        <div class ="col-md-6">
            <link href= "{% static "bootstrap.min.css" %}" rel="stylesheet">
            <link href= "{% static "custom.css" %}"  rel="stylesheet">
            <br>
            <div class="card pokemon-card" style="width: 18rem;">
                <img class="card-img-top" src="{{ pokemon.picture.url }}" alt="Card image cap" class= "pictures">
                <div class="card-body">
                    
                    <h5 class="card-title">{{pokemon | capfirst}}</h5>
                    <p class="card-text">Type {{pokemon.type}}</p>
                    <a href="{{pokemon.id}}" class="btn btn-primary">
                        <i class= "fa-solid fa-eye"></i>
                    </a>
                    <a href="edit_pokemon/{{pokemon.id}}" class="btn btn-primary">
                        <i class= "fa-solid fa-pencil"></i>
                    </a>
                    <a href="{{delete_pokemon}}" class="btn btn-danger">
                        <i class= "fa-solid fa-trash"></i>
                    </a>
                </div>
          </div>
    </div>
    {% endfor %}




    <h3>Trainers</h3>

    <a href="{%url "pokedex:add_trainer" %}" class="btn btn-success">Add Trainer</a>
   
    <div class="row">
        {% for trainer in trainers %}
       
        
        <div class ="col-md-6">
            <link href= "{% static "bootstrap.min.css" %}" rel="stylesheet">
            <link href= "{% static "custom.css" %}"  rel="stylesheet">
            <br>
            
            <div class="card Trainer-card" style="width: 18rem;">
            
                <img class="card-img-left" src="{{trainer.picture.url}}" alt="Card image cap" class= "pictures">
                <a href="edit_Trainer/{{trainer_id}}" class= "btn btn-primary"><i class= "fa-solid fa-pencil"></i></a>
                <div class="card-body">
                    <h5 class="card-title">{{ trainer | capfirst}}</h5>
                    <a href="trainer/{{trainer.id}}">Trainer details</a>
                    <p class="card-text">Level {{trainer.level}}</p>

                </div>    
            </div>
        </div>
    </div>
        {% endfor %}


    {% endblock content %}
            